<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <% for(var i = 0; i < name.length; i++) { %>
      <p><%= name[i].name %></p>
    <% } %>
    <p>Welcome to </p>
    <form method="POST" action="/">
  <input type="text" name="name" id="name" />
  <input type="submit" />
</form>
  </body>
</html>
